body{
  font-family:Verdana,Arial;
  font-size:14px;
}

ul {
  list-style: none;
}

.link{
  text-decoration: underline;
  cursor:  pointer;
}


/* index用CSS */
#header{
  margin-bottom:2%;
  border-bottom: 1px solid #ccc;
}

#footer{
  font-size:12px;
  color:#ccc;
  text-align:center;
  border-top:1px solid #ccc;
  padding:10px 0 20px;
}

#tutorial,#turi,#your_tyouka,#usujiri_info{
  margin-bottom:2%;
}

.in_media{
width: 60%;
}

#index h1{
  font-size:bold;
  font-size: 3vw;
}

#index h2,h3{
  font-size:bold;
}

#index h2{
  font-size:2vw;
  border-left:5px solid #ccc;
  padding:3px 0 3px 10px;
  margin-bottom:10px;
}

#your_records li{
  font-size: 1.5vw;
  display: inline-block;
  width: 20%;
  margin-right: 2%;
}

/* game用CSS */
#area1{
  display: none;
}

.game {
  position: relative;
  width: 100%;
}

.game #media {
  width: 100%;
}

#game_finish {
  display: none;
  top: 0;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 2vw;
}

#game_finish div{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
}

#game_finish a{
  color: white;
}

#status {
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 2;
  color: azure;
  font-size: 20px;
}

#status span{
  font-size: 4vw;
}

#getfish {
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  z-index: 2;
}

.getfish1 {
  display: table;
  z-index: 2;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.getfish1 span{
  display: table-cell;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(229, 255, 0);
  width: 70%;
  vertical-align: middle;
}

.fishgazou {
  display: table-cell;
  width: 40%;
  padding-left: 50%;
}

.button{
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 10%;
  padding-top: 10%
}

.btn{
  position: absolute;
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  z-index: 1;
  cursor:  pointer;
}

.btn_text{
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 35%;
  font-size: 2.5vw;
  width: 100%;
  z-index: 2;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  text-shadow: 1px 1px 1px #d2d4f3a8;
}

#btn_play{
  left: -110%;
  top: -20%;
}

#btn_pause{
  left: 0%;
  top: -20%;
}

#btn_try{
  left: -55%;
  top: -110%;
}

.btn1{
  color: #5d94e7;
  background-image: linear-gradient(#cad1f5 0%, #6f98f0 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn2{
  color: #b4cbf0;
  background-image: linear-gradient(#e7e5fc 0%, #d9def8 100%);
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
}