@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/* 全体用CSS */
body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size:2vw;
  background-color: rgba(230, 240, 240);
}

ul {
  list-style: none;
}

.link{
  text-decoration: underline;
  cursor:  pointer;
}

*{
  margin: 0px;
  padding: 0px;
}

/* index */
#index{
  text-align: center;
}

#header{
  font-family: 'Noto Sans JP', sans-serif;
}

.div_header_1{
  position: relative;
  width: 100%;
  height: 50vw;
  background-size: cover;
}

#usujiri{
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 2;
}

#usujiri a{
  color: white;
  text-shadow:0.1vw 0.1vw 0.2vw rgb(68, 67, 67);
  z-index: 2;
}

#header h1{
  position: absolute;
  font-size: 4.5vw;
  font-weight: bold;
  text-shadow:0.2vw 0.2vw 0.4vw rgb(68, 67, 67);
  top:30%;
  left: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
  color: white;
  z-index: 2;
}

#header span{
  position: absolute;
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow:0.1vw 0.1vw 0.2vw rgb(68, 67, 67);
  top:50%;
  left: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
  color: white;
  z-index: 2;
}

#footer{
  font-size:1vw;
  text-align:center;
  margin-top: 5%;
  border-top:1px solid #ccc;
  padding:10px 0 20px;
}

#tutorial,#game1, #game2, #usujiri_info{
  margin-top:5%;
}

#index h2{
  font-size:3vw;
  text-shadow:0.1vw 0.1vw 0.1vw rgb(68, 67, 67);
}

/* tutorial */
.tutorial_gazou_1{
  position: relative;
  width: 80%;
  height: 45vw;
  border-radius: 10%;
  overflow: hidden;
  margin: auto;
}

.tutorial_gazou_2{
  width: 100%;
  height: 45vw;
  background-size: cover;
  margin: auto;
}


/* index,game */
.index_game{
  position: relative;
}

.in_media{
  width: 80%;
  font-weight: bold;
  border-radius: 10%;
  position: relative;
}

.to_area{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translateX(-50%);
  color:white;
  font-weight: bold;
  font-size: 3vw;
  text-shadow:0.1vw 0.1vw 0.1vw rgb(68, 67, 67);
}

/* 結果とヒストグラム */
.index_result{
  position: relative;
  margin: auto;
  background-color: white;
  width: 80%;
  padding-top: 17%;
  border-radius: 10%;
  overflow: hidden;
}

.div_records{
  position: absolute;
  top: 0;
  color:white;
  background-color: rgb(42, 197, 235);
  width: 100%;
  /* 漁獲した魚種を表示する枠の大きさ */
  padding-top: 20%;
  overflow: hidden;
}

.divul_records{
  position: absolute;
  top: 0;
  padding-top: 0.5%;
  width: 100%;
  height: 1000px;
}

.divul_records p{
  font-weight: bold;
  font-size: 3vw;
  text-shadow:0.1vw 0.1vw 0.1vw rgb(68, 67, 67);
}

.divul_records li{
  display: inline-block;
  text-align: left;
  width: 30%;
  margin: 0 0 1% 1%;
  font-size: 1.7vw;
}

.div_chart{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5%;
}

.div_result_ainame{
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 50%;
  z-index: 3;
}

.div_result_ainame_cmt{
  position: absolute;
  font-size: 1.2vw;
  top: 3%;
}

#div_result_ainame_cmt1{
  right: 43%;
}

#div_result_ainame_cmt2{
  right: 42%;
}

.div_result_ainame_cmt span{
  font-size: 1.2vw;
  
}

.div_result_ainame_gazou{
  width: 50%;
}

/* game用CSS */
#area1, #area2{
  display: none;
}

.game {
  position: relative;
  width: 100%;
}

.game .media {
  width: 100%;
}

#game_finish1, #game_finish2{
  display: none;
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.50);
  width: 100%;
  height: 100%;
  z-index: 100;
  font-size: 2vw;
}

.game_finish div{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
}

.status {
  display: none;
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 2;
  color: azure;
  font-size: 2vw;
}

.status span{
  font-size: 4vw;
}

/* #getfish {
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  z-index: 2;
}


.getfish1 {
  display: table;
  z-index: 2;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.getfish1 span{
  display: table-cell;
  font-size: 3vw;
  font-weight: bold;
  width: 70%;
  vertical-align: middle;
  color: rgb(17, 224, 247);
  color: rgb(34, 81, 192);
}

.fishgazou {
  display: table-cell;
  width: 40%;
  padding-left: 50%;
} */

/* 魚表示CSS */
.div_apfish{
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 100%;
}

.div_apfish_ind{
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.div_apfish_out{
  background-image: linear-gradient(rgb(204, 211, 245, 0.8) 0%, rgb(112, 152, 240, 0.8) 100%);
}

.div_apfish_in1{
  position: absolute;
}

.div_apfish_in2{
  background-image: linear-gradient(rgb(245, 218, 202, 0.8) 0%, rgb(241, 109, 109, 0.8) 100%);
}

.div_apfishimg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  overflow: hidden;
  width: 95%;
}

.apfishimg {
  /* 画像サイズ */
  width: 100%;
}

/* ボタン用CSS */
.button{
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 10%;
  padding-top: 10%;
}

.circle{
  position: absolute;
  display: inline-block;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  z-index: 1;
}

.btnp{
  cursor:  pointer;
}

.btn_text{
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 30%;
  font-size: 2.5vw;
  width: 100%;
  z-index: 2;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  text-shadow: 1px 1px 1px #d2d4f3a8;
}

.btn_play{
  left: -110%;
  top: -20%;
}

.btn_pause{
  left: 0%;
  top: -20%;
}

.btn_try{
  display: none;
  left: -55%;
  top: -110%;
}

.btn1{
  color: #5d94e7;
  background-image: linear-gradient(#cad1f5 0%, #6f98f0 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn2{
  color: #b4cbf0;
  background-image: linear-gradient(#e7e5fc 0%, #d9def8 100%);
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
}